[project]
name = "dynamic-personal-budget-simulator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "cookiecutter>=2.6.0",
    "django>=5.2.8",
    "python-dotenv>=1.2.1",
]
